@font-face {
  font-family: 'iconfont';  /* project id 1905235 */
  src: url('//at.alicdn.com/t/font_1905235_gve17pt986.eot');
  src: url('//at.alicdn.com/t/font_1905235_gve17pt986.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1905235_gve17pt986.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1905235_gve17pt986.woff') format('woff'),
  url('//at.alicdn.com/t/font_1905235_gve17pt986.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1905235_gve17pt986.svg#iconfont') format('svg');
}